body    {
	overflow-y:scroll !important;
}

table th {
	text-align: center !important;
}

table td {
	text-align: center !important;
}

.table-border-right {
	border-right:  1px solid #d0d0d0;
}

.table-highlight-content {
	font-weight: bold;
}

.dropdown-menu-list li {
	text-align: center;
}

#sidenav-overlay {
	z-index: 990 !important;
}

.login-card {
	max-width: 700px;
	margin-left: auto !important;
	margin-right: auto !important;
}

.btn-full {
	width: 100%;
}

.login-img {
	height: 7rem !important;
}

.validation-error {
	text-align: center;
	color: red !important; 
}

.nav-border-left {
	border-left:  1px solid #fff;
}

.alert {
	position: relative;
	padding: .75rem 1.25rem;
	margin-bottom: 1rem;
	border: 1px solid transparent;
	border-radius: .25rem;
}

.alert.alert-success {
	color: #155724;
	background-color: #d4edda;
	border-color: #c3e6cb;
}

.alert.alert-error {
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
}

.hidden {
	display: none;
}

.alert p {
	display: inline-block;	
}
.alert span {
	display: inline-block;
	opacity: 0.5;
	float: right;
	cursor:pointer;
}